main 
{
    font-family: 'Consolas', Courier, monospace;
    text-align: center;
}

p
{
    color: white;
    text-shadow: 5px 5px black;
    padding-right: 10px;
}
.padding{
    width: 20%;
    padding-right: 100px;
}